saves
.mixin.out
craftdumper
crash-reports
logs
downloads
dumps
natives
profileImage
schematics
themes
background.png
BotaniaVars.dat
config.json
imgui.in
manifest.json
minecraftinstance.json
optionsof.txt
/options.txt
optionsshaders.txt
shaderpacks
servers.dat
servers.dat_old
realms_persistence.json
usernamecache.json
usercache.json
screenshots
.curseclient

mods
backups
**/bookmarks.ini

config.bak.json
config/jei/bookmarks.ini
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/blame-forge.properties
config/xaerominimap.txt
config/xaeroworldmap.txt
config/xaerominimap_entities.json
config/sidebar_buttons.json

config/Mekanism/general.toml
config/appliedenergistics2-client.toml
config/blame-forge.properties

TrashSlotSaveState.json
WailaErrorOutput.txt

XaeroWorldMap
XaeroWaypoints*


kubejs/exported
config/dsurround/sndctrl-client.toml
config/appliedenergistics2-client.toml
config/blame-forge.properties
config/xaerominimap_entities.json
config/xaerominimap.txt
patchouli_data.json
TrashSlotSaveState.json

ESM
local/ftbutilities/backups.json
notes/local/C~~Users~Jose~curseforge~minecraft~Instances~HarmEng Dev~saves~Early-Game Testing/New Note.txt
config/Mekanism/client.toml
knownkeys.txt
config/xaeroworldmap.txt
