saves
.mixin.out
craftdumper
crash-reports
logs
downloads
dumps
natives
profileImage
schematics
themes
background.png
BotaniaVars.dat
config.json
imgui.in
manifest.json
minecraftinstance.json
optionsof.txt
/options.txt
optionsshaders.txt
shaderpacks
servers.dat
servers.dat_old
realms_persistence.json
usernamecache.json
usercache.json
screenshots
.curseclient

mods
backups
**/bookmarks.ini

config.bak.json
config/jei/bookmarks.ini
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/blame-forge.properties
config/xaerominimap.txt
config/xaeroworldmap.txt
config/xaerominimap_entities.json
config/sidebar_buttons.json

config/Mekanism/general.toml
config/appliedenergistics2-client.toml
config/blame-forge.properties

TrashSlotSaveState.json
WailaErrorOutput.txt

XaeroWorldMap
XaeroWaypoints*


kubejs/exported
config/dsurround/sndctrl-client.toml
config/appliedenergistics2-client.toml
config/blame-forge.properties
config/xaerominimap_entities.json
config/xaerominimap.txt
patchouli_data.json
TrashSlotSaveState.json

ESM
local/ftbutilities/backups.json
notes/local/C~~Users~Jose~curseforge~minecraft~Instances~HarmEng Dev~saves~Early-Game Testing/New Note.txt
config/Mekanism/client.toml
knownkeys.txt
config/xaeroworldmap.txt
config/spark/activity.json
config/brandon3055/ResourceCache/Cache#-458702766.png
config/brandon3055/ResourceCache/Cache#-1176369040.png
config/brandon3055/ResourceCache/Cache#-1177856129.png
config/brandon3055/ResourceCache/Cache#-1181428365.png
config/brandon3055/ResourceCache/Cache#-1183039813.png
config/brandon3055/ResourceCache/Cache#1223117784.png
config/brandon3055/BrandonsCore.cfg
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/awakened_draconium_5f7da.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/celestial_manipulator_55724.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/chaos_guardian_4c4fd.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/contributors_14e32.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/cores_b46c6.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/disenchanter_3606d.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/dislocation_6d4cb.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_armor_a7ed0.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_energy_shield_4ef7c.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_reactor_b98b3.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_tools_ce5a3.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconium_8395a.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconium_chest_1c184.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/ender_energy_manipulator_3811c.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/energy_infuser_5b44a.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/energy_network_cbb72.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/energy_storage_core_7665b.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/entity_detector_62746.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/flow_gates_92a90.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/fusion_crafting_93212.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/generator_cc462.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/mob_grinder_c25b0.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/mob_soul_749d7.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/modular_armor_c382c.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/modular_tools_47b51.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/module_system_77c93.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/potentiometer_7e259.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/rain_sensor_92dae.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/spotlights_65054.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/stabilized_spawner_4e561.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/test_page_4f9ac.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/wyvern_armor_4e10b.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/wyvern_tools_26115.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/awakened_draconium/dragon_heart_2caa6.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/cores/awakened_core_c847a.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/cores/chaotic_core_10e66.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/cores/draconic_core_3cc88.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/cores/draconic_energy_core_4f12f.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/cores/wyvern_core_c2c0a.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/cores/wyvern_energy_core_a2b4d.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/dislocation/advanced_dislocator_aa59f.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/dislocation/awakened_item_dislocator_81c55.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/dislocation/bound_dislocators_d4344.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/dislocation/dislocation_blocker_20e01.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/dislocation/dislocator_81ef7.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/dislocation/dislocator_pedestal_40605.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/dislocation/dislocator_receptacle_8aad6.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/dislocation/item_dislocator_a286b.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/dislocation/power_portals_2a601.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_armor/draconic_boots_53ead.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_armor/draconic_chestplate_e14af.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_armor/draconic_helmet_54f52.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_armor/draconic_leggings_dc633.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_reactor/basic_operation_909db.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_reactor/reactor_explosion_8a46b.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_reactor/regulation_and_safety_24690.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_tools/draconic_axe_bcd5b.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_tools/draconic_bow_a8440.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_tools/draconic_flux_capacitor_5685f.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_tools/draconic_hoe_21b89.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_tools/draconic_pickaxe_5380c.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_tools/draconic_shovel_26bf1.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_tools/draconic_staff_of_power_31983.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconic_tools/draconic_sword_f9c8f.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconium/draconium_block_4058e.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconium/draconium_dust_a564f.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/draconium/draconium_ore_87f4d.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/energy_network/energy_io_crystals_5c5b0.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/energy_network/relay_crystals_2bf03.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/energy_network/the_basics_461cd.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/energy_network/wireless_crystals_29e8b.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/energy_storage_core/energy_core_setup_7be5c.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/energy_storage_core/energy_core_stabilizer_dfaaa.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/energy_storage_core/energy_pylon_e75da.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/fusion_crafting/fusion_crafting_injectors_26e3e.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/fusion_crafting/fusion_crafting_setup_84af7.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/modular_tools/axe_1ee60.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/modular_tools/bow_88b6a.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/modular_tools/capacitor_fb1b7.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/modular_tools/hoe_ce6e2.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/modular_tools/pickaxe_2741d.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/modular_tools/shovel_55fdf.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/modular_tools/staff_of_power_c844f.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/modular_tools/sword_214c2.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/wyvern_armor/wyvern_boots_9d888.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/wyvern_armor/wyvern_chestplate_472d6.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/wyvern_armor/wyvern_helmet_60559.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/wyvern_armor/wyvern_leggings_2b410.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/wyvern_tools/wyvern_axe_11dbd.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/wyvern_tools/wyvern_bow_e17dc.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/wyvern_tools/wyvern_flux_capacitor_f3f1c.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/wyvern_tools/wyvern_pickaxe_97459.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/wyvern_tools/wyvern_shovel_9dbf8.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/en_us/wyvern_tools/wyvern_sword_dc96b.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/structure/structure.json
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/structure/en_us/draconicevolution_dbd2b.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/structure/lang/en_us.json
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/structure/lang/ru_ru.json
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/structure/lang/zh_cn.json
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/structure/ru_ru/draconicevolution_dbd2b.md
config/brandon3055/ProjectIntelligence/ModDocs/draconicevolution/3.0.0/structure/zh_cn/draconicevolution_dbd2b.md
config/brandon3055/ProjectIntelligence/ModDocs/projectintelligence/1.0.0/en_us/contribute_e554c.md
config/brandon3055/ProjectIntelligence/ModDocs/projectintelligence/1.0.0/en_us/people_8485a.md
config/brandon3055/ProjectIntelligence/ModDocs/projectintelligence/1.0.0/en_us/people/brandon3055_69258.md
config/brandon3055/ProjectIntelligence/ModDocs/projectintelligence/1.0.0/en_us/people/covers1624_b8f4c.md
config/brandon3055/ProjectIntelligence/ModDocs/projectintelligence/1.0.0/structure/structure.json
config/brandon3055/ProjectIntelligence/ModDocs/projectintelligence/1.0.0/structure/en_us/projectintelligence_88e33.md
config/brandon3055/ProjectIntelligence/ModDocs/projectintelligence/1.0.0/structure/lang/en_us.json
config/brandon3055/ProjectIntelligence/ModDocs/projectintelligence/1.0.0/structure/lang/zh_cn.json
config/brandon3055/ProjectIntelligence/ModDocs/projectintelligence/1.0.0/structure/zh_cn/projectintelligence_88e33.md
