.curseclient
.mixin.out
.prettierrc
**/bookmarks.ini
/options.txt
background.png
backups
BotaniaVars.dat
config.bak.json
config.json
config/appliedenergistics2-client.toml
config/appliedenergistics2-client.toml
config/blame-forge.properties
config/blame-forge.properties
config/blame-forge.properties
config/dsurround/sndctrl-client.toml
config/jei/bookmarks.ini
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/Mekanism/client.toml
config/Mekanism/general.toml
config/sidebar_buttons.json
config/spark/activity.json
config/xaerominimap_entities.json
config/xaerominimap_entities.json
config/xaerominimap.txt
config/xaerominimap.txt
config/xaeroworldmap.txt
config/xaeroworldmap.txt
craftdumper
crash-reports
downloads
dumps
ESM
hs_err*
imgui.in
knownkeys.txt
kubejs/exported
kubejs/README.txt
local/ftbutilities/backups.json
logs
manifest.json
minecraftinstance.json
mods
natives
notes/local/C~~Users~Jose~curseforge~minecraft~Instances~HarmEng Dev~saves~Early-Game Testing/New Note.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
profileImage
realms_persistence.json
saves
schematics
screenshots
servers.dat
servers.dat_old
shaderpacks
themes
TrashSlotSaveState.json
TrashSlotSaveState.json
usercache.json
usernamecache.json
WailaErrorOutput.txt
XaeroWaypoints*
XaeroWorldMap
pregen/supporters.json
bettervillage_general_*
config_new_temp.json
config/roughlyenoughitems/changelog.txt
